Midia/

# Diretórios de dependências
AutomacaoTestes/node_modules/
TestesApiJson/node_modules/

# Relatórios de testes
AutomacaoTestes/cypress/results/
TestesApiJson/cypress/results/

# Capturas de tela e vídeos
AutomacaoTestes/cypress/screenshots/
AutomacaoTestes/cypress/videos/
TestesApiJson/cypress/screenshots/
TestesApiJson/cypress/videos/

# Arquivos de configuração locais
AutomacaoTestes/cypress/results/
TestesApiJson/cypress/results/

# Logs
*.log

# Arquivos de build
dist/
build/

# Outros arquivos temporários
.DS_Store
*.swp
*.tmp
